.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginContainer {
    width: 500px;
    border-radius: 10px 10px 0 0;
}

.loginTitle {
    border: 1px solid gray;
    border-radius: 10px 10px 0 0;
    background-color: rgb(29, 252, 178);
    box-shadow: 1px 0 1px 0 gray, -1px -1px 1px 0 gray;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.loginTitle p {
    margin: 12px 0;
    font-size: 1.8rem;
    font-weight: bold;
    color: #FFF;
}


.loginInfoContainer {
    border: 1px solid gray;
    box-shadow: 1px 1px 1px 0 gray, -1px 0 1px 0 gray;
    padding-top: 15px;
    background-color: #fff;
}

.loginInfoItem {
    margin: 25px 60px 15px 60px;
}

.loginInfoItem label {
    font-size: 1.3rem;
    font-family: 微軟正黑體;
    font-weight: bold;
    margin-left: 30px;
}

.loginInfoItem small {
    margin-left: 15px;
    color: red;
}

.loginInfoItem p {
    cursor: default;
}

.loginInfoInput {
    display: flex;
    justify-content: space-around;
}

.InputDiv {
    border: 1px gray solid;
    padding: 15px 50px 15px 10px;
    background-color: #FFF;
    border-radius: 5px;
    margin: 5px;
}

.InputDiv input {
    font-size: 1.3rem;
    outline: none;
    border: none;

}

.InputDiv input:focus {
    outline: none;
}


.loginFooter {
    text-align: center;
}

.loginFooter button {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 15px 15px;
    border-radius: 5px;
    width: 100px;
    margin: 10px 0 15px 0;
    background: rgb(29, 252, 178);
    color: #FFF;
    border: 1px rgba(128, 128, 128, 0.5) solid;
    box-shadow: 1px 1px 1px 1px rgb(167, 247, 220);
}

.loginFooter button:hover {
    background: rgb(138, 248, 212);
    color: #000;
    box-shadow: 0 1px 1px 1px rgb(167, 247, 220);
    cursor: pointer;
}

.errorText {
    max-width: 300px;
    margin-left: 20px;
    visibility: hidden;
}